<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--Authentication-->
  <appSettings>
    <add key="AdminLoginID" value="admin"/>
    <add key="AdminPassword" value="12345"/>

    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="EmailId@gmail.com"/><!--value="EmailId@gmail.com"-->
    <add key="Password" value="Password"/><!--value="Password"-->
    <add key="Port" value="587"/>

    <!--need a web.config key to enable the pre 4.5 validation mode-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=LAPTOP-2FE2DMGC\SQLEXPRESS; Initial Catalog=FattaangDB; Integrated Security=False" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source = DESKTOP-G7GO59L\SQLEXPRESS; Initial Catalog = FattaangDB; Integrated Security=False"
    providerName="System.Data.SqlClient"/>
    <!--Initial Catalog or database , Integrated Security= SSPI for Windows Authentication-->
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>